/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* #endregion Common */

/* #region Main */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.color {
    color: blue;
}

#id {
    width: 500px;
    height: 500px;
}
/* #endregion Main */

/* #region Footer */

/* #endregion Footer */